// 主题色
$primary: #504cde;

// 操作成功
$success: #5AAC33;

// 操作失败
$danger: #ED511F;

// 操作警告
$warning: #E6A23C;

// 描述信息
$info: #999999;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$black: #000000;
$box-shadow:#E2E2E2;
$border-color:#D8D8D8;
$body-bg:#fafafa;


